* {
  padding: 0;
  outline: none;
}

/*Блок о руководителе*/
.section-centr {
  margin: 7px;
  min-width: 100%;
  width: 100%;
  min-height: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
}

/*Заголовок блока о руководителе*/
.section-centr__title {
  grid-area: 1 / 1 / 2 / 3;
}

/*Фото руководителя*/
.section-centr__img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 15px;
}
