h1, h5 {
    color: #8081BD;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.card{
    margin-top: 30px;
}
.card-img-top{
    width: 50%;
    height: 60%; 
    
}

.btn .btn-outline-secondary{
    color: #334155;
    box-sizing: border-box;
    border: 1px solid #8081BD;
    border-radius: 30px;
}

.news{
    text-align: center; 
    color:#334155;
    text-decoration:none;
    font-weight: bold;
    background-color: #ffffff;
    height: 50%;
    width: 60%;
    margin: 30px;

}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    margin: 5px 50px 30px 50px;
    padding: 80px 0 20px 20px;
    background: #79BC6D;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    max-block-size: 630px;
}

.cta h3 {
    color: #fff;
    width: 589px;
    height: 98px;
    left: 250px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    line-height: 49px;
    display: fle;
    align-items: center;

}

.cta p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 442px;
    height: 48px;
    left: 250px;
    top: 1762.51px;
    font-style: normal;


}

@media (max-width: 50%) {
    .form-inline {
        flex-direction: row;
        /* align-items: stretch; */
        justify-content: space-between;
    }
}


.btn-warning{
    margin-left: 5%;
    width: 45%;
} 

#phone{
    width: 50%;
}

.img-responsive{
    margin-top: -35%;
    display: flex;
}

/*--------------------------------------------------------------
# Submit Form
--------------------------------------------------------------*/
.map {
    max-width: 99%;
    margin: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    overflow: hidden;

}

.form-check-label{
    color:#ffffff;
}

