@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  }

  .header{
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin-left: 3%;
    margin-right: 3%;
    width: 96%;
}
.adress {
    /*display: grid;
    grid-template-columns: minmax(80%, min-content) minmax(35%, min-content) minmax(45%, min-content);
    max-width: 25vw;
    position: relative;*/
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}   

.adress-text, .adress-text1 {
    color: #EA5D4A;
    font-family: 'Montserrat', sans-serif;
    min-height: 12px;
    font-size: 12px;
}
.adress-text2 {
    color:#0E95D3;
    font-family: 'Montserrat', sans-serif;
    min-height: 12px;
    text-align: start;
    font-size: 12px;
}
.logo-info,
 .backcall
 {
    display: grid;
    grid-template-columns: minmax(18%, min-content) minmax(47%, min-content) minmax(35%, min-content);
    }

.logo-img {
    max-width: 100%;
    height: auto;
}

.header-menu {
    /*display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto; 
    gap: 5px;
    justify-content:space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    min-height: 14px;*/
    max-width: 549px;
    display: flex;
    gap: 1%;
    font-family: 'Montserrat', sans-serif;
    justify-content:space-around;
    font-size: 1vw;
    margin-top: 3%;
}

a {
    text-decoration: none;

}
/*.dropdown-content {
    display:none;
    position: absolute;
    z-index: 1; 
}
.dropbtn{
    font-family: 'Montserrat', sans-serif;
    min-height: 14px;
    text-align: center;
}*/

.menu_drop {
    display: flex;
    flex-direction: column;
}

.nav_button {
    background-image: url(/assets/pictures/Vector\ \(3\).png);
    background-repeat: no-repeat;
      background-position: center center;
      border: none;
      height: 12px;
      background-color: white;
      cursor: pointer;

}


.header-contact {
    max-width: 700px;
    display: grid;
    grid-template-columns: minmax(60%, min-content) minmax(40%, min-content);
    text-align: center;
    align-items: center;
}
.phone {
    background-color:#EA5D4A;
    border-radius: 50%;
    border: 2px solid #EA5D4A;
}

.number_fonts {
    font-family:  'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #334155;
    margin-left: 3%;
}

.header-phonnumber {
    min-width: 55%;
    display: grid;
    grid-template-columns: minmax(5%, min-content) minmax(65%, min-content) minmax(15%, min-content) minmax(15%, min-content);
}
.header-button {
    background-color: #8081BD;
    border: 1px solid #8081BD;
    border-radius: 20px;
    color: white;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    min-height: 30px;
    cursor: pointer;
} 

.header-button:hover {
    background-color: #8b8dc6;  
}
/*.backcall{
    display: flex;
    justify-content: end;
    border: 1px solid black;
    margin-right: 20%;
}*/
.backcall-text{
    color: #EA5D4A;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    margin-left: 5%;
    margin-top: -4%;
} 

.homepage {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.servicepage {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 25px;
}

.callback_link {
    color: #EA5D4A;

}