.header {
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin-left: 3%;
    margin-right: 3%;
    width: 96%;
}
.adress {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}
.adress-text,
.adress-text1 {
    color: #ea5d4a;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    min-height: 12px;
    font-size: 12px;
}
.adress-text2 {
    color: #0e95d3;
    font-family: "Montserrat", sans-serif;
    min-height: 12px;
    font-weight: 600;
    text-align: start;
    font-size: 12px;
}
.logo-info,
.backcall {
    display: grid;
    grid-template-columns: minmax(18%, min-content) minmax(47%, min-content) minmax(
        35%,
        min-content
      );
  }
  
.logo-img {
    max-width: 100%;
    height: auto;
}
.header-menu {
    /*display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin: auto; 
      gap: 5px;
      justify-content:space-around;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      min-height: 14px;*/
    max-width: 549px;
    display: flex;
    gap: 1%;
    font-family: "Montserrat", sans-serif;
    justify-content: space-around;
    font-size: 1vw;
    margin-top: 3%;
    color: #334155;
    text-decoration: none;
    font-weight: 600;
    

}
a:link,a:visited {
    text-decoration: none;
    color: #334155;
}
a:hover {
    color: #8081BD;
}

.menu_drop {
    display: flex;
    flex-direction: column;
}
  
.nav_button {
    background-image: url(/assets/images/Vector\\(3\).png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    height: 12px;
    background-color: white;
    cursor: pointer;
}
  
.header-contact {
    max-width: 700px;
    display: grid;
    grid-template-columns: minmax(60%, min-content) minmax(40%, min-content);
    text-align: center;
    align-items: center;
}
.phone {
    background-color: #ea5d4a;
    border-radius: 50%;
    border: 2px solid #ea5d4a;
}  
.number_fonts {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #334155;
    margin-left: 3%;
}
  
.header-phonnumber {
    min-width: 55%;
    display: grid;
    grid-template-columns: minmax(5%, min-content) minmax(65%, min-content) minmax(
        15%,
        min-content
      ) minmax(15%, min-content);
}
.header-button {
    background-color: #8081bd;
    border: 1px solid #8081bd;
    border-radius: 20px;
    color: white;
    font-size: 1vw;
    font-family: "Montserrat", sans-serif;
    min-height: 30px;
    cursor: pointer;
}
  
.header-button:hover {
    background-color: #8b8dc6;
  }
  /*.backcall{
      display: flex;
      justify-content: end;
      border: 1px solid black;
      margin-right: 20%;
  }*/

.backcall-text {
    color: #ea5d4a;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    margin-left: 5%;
    margin-top: -4%;
  }

h1, h5 {
    color: #8081BD;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.card{
    margin-top: 30px;
}
.card-img-top{
    width: 50%;
    height: 60%; 
    
}

.btn .btn-outline-secondary{
    color: #334155;
    box-sizing: border-box;
    border: 1px solid #8081BD;
    border-radius: 30px;
}

.news{
    text-align: center; 
    color:#334155;
    text-decoration:none;
    font-weight: bold;
    background-color: #ffffff;
    height: 50%;
    width: 60%;
    margin: 30px;

}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    margin: 5px 50px 30px 50px;
    padding: 80px 0 20px 20px;
    background: #79BC6D;
    border-radius: 20px;
    position:relative;
    display:flex;
    max-block-size: 630px;
}

.cta h3 {
    color: #fff;
    width: 120%;
    /* width: 589px;
    height: 98px;
    left: 250px; */
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    line-height: 49px;
    display: flex;
    align-items: center;
    position: inherit;

}

.cta p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 85%;
    /* height: 48px;
    left: 250px;
    top: 1762.51px; */
    font-style: normal;
    position:inherit;
}

@media (max-width: 50%) {
    .form-inline {
        flex-direction: row;
        /* align-items: stretch; */
        justify-content: space-between;
    }
}


.btn-warning{
    margin-left: 5%;
    width: 45%;
} 

#phone{
    width: 50%;
}

.img-fluid{
    /* margin-top: -35%; */
    position: absolute; 
    overflow: hidden;
    margin-top: -23%;
    margin-left: -5%;
    display: flex;
}

/*--------------------------------------------------------------
# Submit Form
--------------------------------------------------------------*/
.map {
    max-width: 99%;
    margin: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    overflow: hidden;

}

.form-check-label{
    color:#ffffff;
}

.link-secondary{
    text-decoration:none;
}


